table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    word-break: break-word;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

caption {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}

.back-arrow {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    background-color: #0097a7;
    /* Azul Aqua oscuro */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.back-arrow:hover {
    background-color: #007c91;
    /* Más oscuro al pasar el mouse */
    transform: translateX(-3px);
}